.input {
  position: relative;
  display: block;
  padding: 20px;
  width: 100%;
  background-color: #eee;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.lest-count {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-family: Helvetica;
}

.red {
  color: red;
}